.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  background-image: url("./assets/login-back.avif");
  background-size: cover;
  background-position: center;
}

.auth-form {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.auth-form h2 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.auth-form label {
  display: block;
  margin-bottom: 0.5rem;
}

.auth-form input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.auth-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.auth-form button:hover {
  background-color: #0056b3;
}

/* Add this in your CSS file */
/* HomePage.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.top-right {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 20px;
}

.top-right span {
  margin-right: 10px;  /* Add some spacing between username and logout button */
  font-size: 16px;
  font-weight: bold;
}

.logout-button {
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  background-color: #ff6b6b; /* Light red button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #ff4c4c; /* Darker red on hover */
}

.content {
  padding: 20px;
}

.or-separator {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  color: #666;
}

.or-separator::before, .or-separator::after {
  content: "";
  display: inline-block;
  width: 40%;
  height: 1px;
  background-color: #ccc;
  vertical-align: middle;
  margin: 0 10px;
}

.register-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.register-button:hover {
  background-color: #0056b3;
}

.subscribe-button {
  padding: 8px 12px;
  font-size: 14px;
  color: white;
  background-color: #007bff; /* Light red button */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.subscribe-button:hover {
  background-color: #0056b3; /* Darker red on hover */
}

